project:
  name: &project_name network_grapher
mongodb:
  username: *project_name
  password: password
postgresql:
  username: *project_name
  password: password
forwarded_ports:
  3000: 3000
  25: 2225
  1080: 1080
  5432: 5432
  27017: 27017
aws:
  access_key_id: access_key_id
  secret_access_key: secret_access_key
  keypair_name: keyname
  private_key_path: /path/to/key/file
