project:
  name: &project_name ConstructionMetalProducts
postgresql:
  username: contruction_metal_products
  password: password
forwarded_ports:
  3000: 3000
  25: 2225
  1080: 1080
  5432: 5432
  27017: 27017
vm:
  cpu_count: 2
  memory_size: 4096
